doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Contact Page
  include ../includes/styles/styles.pug
  link(rel="stylesheet", href="css/sass/pages/style-pages/contact.css")
  body
    include ../includes/components/navbar.pug
    h2.heading.headsize.headline Contact
    section#contact.contact
      .contact-img
        img(src="images/me.JPG", alt="")
      p If you want to say hello! to teach base. The best way to reach me is on social media &#128075;.
      ul.contact-links
        li: a(href="https://dev.to/mohamed_gt57", target="_blank"): i.fab.fa-dev.fa-fw
        li: a(href="https://twitter.com/mohamed_gt57", target="_blank"): i.fab.fa-twitter.fa-fw
        li: a(href="https://medium.com/@mohammedatef", target="_blank"): i.fab.fa-medium.fa-fw
        li: a(href="https://github.com/moatefdev", target="_blank"): i.fab.fa-github.fa-fw
        li: a(href="https://codingtips5.home.blog/blog/", target="_blank"): i.fab.fa-wordpress.fa-fw
        li: a(href="https://www.instagram.com/mohamedatefdev/", target="_blank"): i.fab.fa-instagram.fa-fw
    include ../includes/html_pages/footer.pug
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main-script.js")
    script(src="js/jquery.nicescroll.min.js")