doctype html
html
  head
    meta(http-equiv="Content-Type", content="charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Contact Page
  include ../includes/styles/styles.pug
  link(rel="stylesheet", href="css/sass/pages/style-pages/contact.css")
  body
    include ../includes/components/navbar.pug
    h2.heading.headsize.headline Contact
    section#contact.contact
      p If you want to say hello! to teach base. The best way to reach me is on social media &#128075;.
      ul.contact-links
        li: a(href="#"): i.fab.fa-dev
        li: a(href="#"): i.fab.fa-twitter
        li: a(href="#"): i.fab.fa-medium
        li: a(href="#"): i.fab.fa-github
        li: a(href="#"): i.fab.fa-wordpress
        li: a(href="#"): i.fab.fa-instagram
    include ../includes/html_pages/footer.pug
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main-script.js")
    script(src="js/jquery.nicescroll.min.js")