doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type", content="charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Portfolio Page
  include ../includes/styles/styles.pug
  link(rel="stylesheet", href="css/sass/pages/style-pages/portfolio.css")
  body
    include ../includes/components/navbar.pug
    .container
      h2.heading.headsize.headline Portfolio
      ul.techniques
        li.active-link All
        li HTML &amp; CSS
        li JavaScript
      .portfolio-card
        figure(data-tech="htmlandcss")
          a(href="http://")
            img(src="images/Portfolio/facebook-design.png", alt="")
            figcaption Facebook Homepage - 2019 
              span Technology: 
              span HTML, CSS
        figure(data-tech="htmlandcss")
          a(href="http://")
            img(src="images/Portfolio/aasha.jpg", alt="")
            figcaption AASHA Design - 2019 
              span Technology: 
              span HTML, CSS
      include ../includes/html_pages/footer.pug
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main-script.js")
    script(src="js/jquery.nicescroll.min.js")