header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  text-shadow: 1px 3px 1px dodgerblue;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #282830;
  padding: 6px 60px;
}

nav .logo {
  text-align: center;
}

nav .logo button.navbar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282830 !important;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 3px 10px;
  display: none;
}

nav .logo button.navbar-btn i {
  line-height: 35px;
  font-size: 1.3em;
  color: #fff;
}

nav .logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Roboto Slab', serif;
  margin-right: 15px;
}

nav a:hover {
  color: dodgerblue;
}

nav .social ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav li {
  color: #fff;
  font-size: 25px;
  color: #777;
}

@media (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 6px 30px;
    position: relative;
    min-height: 0;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    overflow: hidden;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .logo button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    cursor: pointer;
    outline: 0;
  }
  nav .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 6px 30px;
  }
  nav .links a {
    line-height: 2;
    margin-top: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "nav nav nav nav" "head head head head" "about-home about-home about-home about-home" "portfolio-home portfolio-home portfolio-home portfolio-home" "blog-home blog-home blog-home blog-home" "recommend-home recommend-home recommend-home recommend-home" "contact contact contact contact" "foot foot foot foot";
  grid-gap: 1px;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
}

section#about-home {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: about-home;
}

section#portfolio-home {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: portfolio-home;
}

section#blog-home {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: blog-home;
}

section#recommend-home {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: recommend-home;
}

section#contact {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foot;
}

.mob-navbar {
  grid-area: mob-nav;
}

.headsize {
  font-size: 2.5em;
}

.headline::after {
  content: "";
  width: 100px;
  display: block;
  border: 2px solid royalblue;
  margin-top: 2px;
}

.active-link {
  border-top: 5px solid dodgerblue;
}

@media (max-width: 768px) {
  .headsize {
    font-size: 2em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

@media (max-width: 800px) {
  p, ul li {
    font-size: 1.4em !important;
  }
  h3 {
    font-size: 1.5em;
  }
}

footer {
  background: #eee;
  margin-top: 25px;
  padding: 10px 23px;
  border-top: 3px solid #282830;
}

footer .footer-logo h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  text-shadow: 1px 3px 1px dodgerblue;
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer-logo p {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #777;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .about-me {
  width: 50%;
  margin-right: 40px;
}

footer .footer-content .about-me p {
  color: #3c3c3c;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: justify;
}

footer .footer-content .footer-links {
  margin-right: 40px;
}

footer .footer-content .footer-links ul {
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer .footer-content .footer-links ul a {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 18px;
}

footer .footer-content .footer-contact-me a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #282830;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

footer .footer-copyright-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #777;
}

footer .footer-copyright-social p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  margin: 0;
  margin-top: 10px;
  color: #3c3c3c;
}

footer .footer-copyright-social ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .footer-copyright-social ul li {
  margin: 10px 15px;
  font-size: 25px;
}

footer .footer-copyright-social ul li a {
  text-decoration: none;
  color: #282830;
}

@media (max-width: 1000px) {
  footer {
    margin-left: -10px;
  }
  footer .footer-logo h2, footer .footer-logo p {
    margin-left: 15px;
  }
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15px;
  }
  footer .footer-content .about-me {
    width: 100%;
  }
  footer .footer-contact-me a {
    margin-bottom: 20px;
    padding: 20px !important;
    text-align: center;
    font-size: 1.5em !important;
  }
  footer .footer-copyright-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-copyright-social p {
    margin: 15px 0;
  }
  footer .footer-copyright-social ul {
    margin-bottom: 5px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "head head head head" "ul-techs ul-techs ul-techs ul-techs" "work work work work" "foot foot foot foot";
}

nav {
  grid-area: navbar;
}

h2.heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
  margin-left: 35px;
}

h2.heading::after {
  width: 150px;
}

@media (max-width: 768px) {
  h2.heading::after {
    width: 122px;
  }
}

ul.techniques {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ul-techs;
  width: 90%;
  margin: 10px auto;
}

@media (max-width: 768px) {
  ul.techniques {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.portfolio-card {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: work;
  width: 90%;
  margin: 10px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .portfolio-card {
    width: 90% !important;
  }
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foot;
}

ul.techniques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #282830;
  margin-bottom: 10px;
}

ul.techniques li {
  color: #fff;
  margin-right: 3px;
  padding: 15px 20px;
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-card figure {
  margin: 10px 6px;
  background-color: #1e90ff;
  padding: 5px;
  width: 49%;
}

.portfolio-card figure a {
  text-decoration: none;
}

.portfolio-card figure a img {
  width: 100%;
  height: 300px;
}

.portfolio-card figure a figcaption {
  border: 3px solid dodgerblue;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-card figure a figcaption span {
  margin-top: 8px;
}

.portfolio-card figure a figcaption span:first-child {
  font-weight: bold;
}

@media (max-width: 800px) {
  ul.techniques li {
    font-size: 1.3em !important;
    cursor: pointer;
  }
  .portfolio-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .portfolio-card figure {
    margin-bottom: 20px;
    width: 100%;
  }
  .portfolio-card figure a img {
    width: 100%;
  }
  .portfolio-card figure:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  h2 {
    margin-left: 15px;
  }
}
/*# sourceMappingURL=portfolio.css.map */