@import '../../layout/header';
@import '../../layout/footer';
@import '../../layout/navbar';
@import '../../layout/grid';
@import '../../helpers/classes';
@import '../../helpers/varibales';

// Intial Styal
body {font-family: 'Roboto', sans-serif;}

.container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:  "head head head head"
                        "shuffle shuffle shuffle shuffle"
                        "use use use use"
                        "courses courses courses courses"
                        "books books books books"
                        "inspectors inspectors inspectors inspectors"
                        "foot foot foot foot";
}

h2.heading {
  grid-area: head;
  margin-left: 35px;
  &::after {
    width: $headLine + 230px;
  }
}

@media (max-width: 768px) {
  h2.heading {
    &::after {
      width: $headLine + 165px;
    }
  }
}

ul#shuffle-bar {
  grid-area: shuffle;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 30px;
  background-color: $mainColor;
  li {
    margin-right: 10px;
    padding: 5px 20px;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}

// Start Media Query of Shuffle-bar
@media (max-width: 800px) {
  ul#shuffle-bar {
    flex-direction: column;
    li {
      margin: 0 15px 7px 15px;
      font-size: 1.1em !important; // Not working because of the footer, so it needs a solution
    }
  }
}
// End Media Query of Shuffle-bar

// Start What I Use
section.what-i-use {
  grid-area: use;
  width: $sectionWidth;
  margin: $sectionMargin;
  h3 {
    font-size: 1.7em;
    margin: 25px auto;
    &::after {
      width: $headLine + 37px;
    }
  }
  p {
    font-size: 1.45em;
  }
  ul {
    li {
      list-style-type: square;
      list-style-position: inside;
      font-size: 1.3em;
      padding: 10px 0;
      a {
        text-decoration: none;
      }
    }
  }
}
// End What I Use

// Start Courses
section.courses {
  grid-area: courses;
  width: $sectionWidth;
  margin: $sectionMargin;
  h3 {
    font-size: 1.7em;
    margin: 25px auto;
    &::after {
      width: $headLine
    }
  }
  ul {
    li {
      list-style-type: square;
      list-style-position: inside;
      font-size: 1.3em;
      padding: 10px 0;
      a {
        text-decoration: none;
      }
    }
  }
}
// End Courses

// Start Books
section.books {
  grid-area: books;
  width: $sectionWidth;
  margin: $sectionMargin;
  h3 {
    font-size: 1.7em;
    margin: 25px auto;
    &::after {
      width: $headLine - 25px;
    }
  }
  ul {
    li {
      list-style-type: square;
      list-style-position: inside;
      font-size: 1.3em;
      padding: 10px 0;
      a {
        text-decoration: none;
      }
    }
  }
}
// End Books

// Start Inspectors
section.inspectors {
  grid-area: inspectors;
  width: $sectionWidth;
  margin: $sectionMargin;
  h3 {
    font-size: 1.7em;
    margin: 25px auto;
    &::after {
      width: $headLine + 31px;
    }
  }
  ul {
    li {
      list-style-type: square;
      list-style-position: inside;
      font-size: 1.3em;
      padding: 10px 0;
      a {
        text-decoration: none;
      }
    }
  }
}
// End Inspectors


// Start classes and placeholders
.rec-active {
  background-color: $mainColor;
  color: #fff;
}