footer
  .footer-logo
    h2 Mohamed Atef
    p Frontend developer
  .footer-content
    .about-me
      h3 About me
      p 👋 Hi, I am Mohamed Atef, a front-end developer from Egypt. 
        | I love to learn and discover all things in web development, 
        | makes the web an awesome place and trying to share my experience.
    .footer-links
      h3 Links
      ul
        li: a(href="../../pages/compiled-pages/homepage.html") Home
        li: a(href="../../pages/compiled-pages/about.html") About
        li: a(href="../../pages/compiled-pages/Portfolio.html") Portfolio
        li: a(href="../../pages/compiled-pages/blog.html") Blog
        li: a(href="../../pages/compiled-pages/recommendations.html") Recommendations
        li: a(href="../../pages/compiled-pages/contact.html") Contact
    .footer-contact-me
      h3 Contact
      a(href="../../pages/compiled-pages/contact.html") Contact Me
  .footer-copyright-social
    p &copy; 2020, MoAtef. All right reserved.
    ul
      li
        a(href="https://dev.to/mohamed_gt57")
          i(class="fab fa-dev fa-fw")
      li
        a(href="https://twitter.com/mohamed_gt57")
          i(class="fab fa-twitter fa-fw")
      li
        a(href="https://medium.com/@mohammedatef")
          i(class="fab fa-medium fa-fw")
      li
        a(href="https://github.com/moatefdev")
          i(class="fab fa-github fa-fw")
      li
        a(href="https://codingtips5.home.blog/blog/")
          i(class="fab fa-wordpress fa-fw")
      li
        a(href="https://www.instagram.com/mohamedatefdev/")
          i(class="fab fa-instagram fa-fw")