nav
  .logo
    a(href="index.html")
      img(src="images/me.JPG", alt="")
    button#nav-toggle-btn.navbar-btn
      i(class="fa fa-bars")
  #navbar-links.links
    a(href="index.html") Home
    a(href="about.html") About
    a(href="portfolio.html") Portfolio
    a(href="blog.html") Blog
    a(href="recommendations.html") Recommendations
    a(href="contact.html") Contact